.container{
    padding: 0 2rem;

    display: flex;
    flex-direction: column;

}

.form{
    display: flex;
    flex-direction: column;
    width: 60vw;
    
    select{
        width: 100%;
        height: 40px;
        border-radius: 0.3rem;
        margin-bottom: 1rem;
        color: gray;
        background-color: var(--white);
        border: 1px solid gray;
        padding: 0 0.5rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.formContainer{
    display: flex;
    flex-direction: row;
    gap: 2%
}

.formContainerContent{
    display: grid;
    width: 50%;
}

.formContainerContentSelect{
    display: grid;
    width: 100%;
}

.input{
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    color: gray;
    background-color: var(--white);
    border: 1px solid gray;
    height: 40px;
    max-width: 100%;
    padding: 0 0.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonAdd{
    border-radius: 0.3rem;
    height: 40px;
    border: 0;
    background-color: var(--blue);
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.contentOpen,
    .contentClose{
    display: block;
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: all 0.1s ease-in-out;

    p{
        background-color: rgb(238, 238, 238);
        padding: 1%;
    }
}

.contentOpen{
    height: 100%;
}

.contentClose{
    height: 2rem;
    cursor: pointer;
}

@media screen and (max-height: 1200px) and (max-width: 1400px){
    .container{
        display: flex;
        flex-direction: column;
        font-size: 1rem;
    }
    .form{
        display: flex;
        flex-direction: column;
        width: 60vw;
        
        select{
            width: 100%;
            height: 30px;
            border-radius: 0.3rem;
            margin-bottom: 0.5rem;
            color: gray;
            background-color: var(--white);
            border: 1px solid gray;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
    
    .formContainer{
        display: flex;
        flex-direction: row;

    }
    
    .formContainerContent{
        display: grid;
        width: 100%;
    }
    
    .formContainerContentSelect{
        display: grid;
        width: 100%;
    }
    
    .input{
        border-radius: 0.3rem;
        margin-bottom: 1rem;
        color: gray;
        background-color: var(--white);
        border: 1px solid gray;
        height: 30px;
        max-width: 100%;
        padding: 0 0.5rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .checkbox{
        display: flex;
        width: 60%;
        align-items: center;
        justify-content: center;

        input{
            width: 1.7rem;
            height: 1.7rem;
            margin-left: .5rem;
        }
    }
    
    .buttonAdd{
        border-radius: 0.3rem;
        height: 40px;
        border: 0;
        background-color: var(--blue);
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--white);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    }
    
    .contentOpen,
        .contentClose{
        display: block;
        overflow: hidden;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        transition: all 0.1s ease-in-out;
    
        p{
            background-color: rgb(238, 238, 238);
            padding: 0.5%;
        }
    }
    
    .contentOpen{
        height: 100%;
    }
    
    .contentClose{
        height: 1.5rem;
        cursor: pointer;
    }
}