.container {
    max-width: 980px;
    margin: 4rem auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 1rem;

    span {
        margin: 10px;
    }
}

.containerHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    .buttonEdit {
        margin-left: 1rem;
        padding: 10px;
        color: var(--white);
        font-weight: bold;
        background-color: rgb(52, 124, 231);
        border: 0;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition: .3s;
    }

    .buttonEdit:hover{
        background-color: #3b82f6;
        box-shadow: 0 0 0 5px #3b83f65f;
        color: #fff;
    }
}

.contentHeader {
    display: flex;
    color: #303030;
    font-weight: 700;
    font-size: 1.5rem;
}

.contentHeaderPacAge {
    font-size: 1rem;
    color: #303030b7;
}

.contentHeaderPac {
    margin-top: 0.6rem;
    margin-left: 0.6rem;
}


.bottomTabs {
    margin: 15px 0 0 0;
    border-bottom: 2px solid #e2e2e2;
    padding: 0;

    button {
        position: relative;
        margin: 0 3px;
        padding: 8px;
        outline: 0;
        border: 0;
        border-radius: 4px;
        background-color: transparent;
        font-weight: 600;
        color: #474747;
    }

    button:hover,
    .bottomTabsSelect {
        color: rgb(52, 124, 231);
    }

    button::after {
        position: absolute;
        bottom: 0;
        left: 0;

        content: "";
        height: 2px;
        width: 0%;
        background-color: rgb(52, 124, 231);
        transition: 0.4s;
    }

    button:hover::after,
    .bottomTabsSelect::after {
        width: 100%;
    }
}


.pacItem {

    h4 {
        width: 105%;
        margin-left: -2%;
        padding-left: 1rem;
        color: #504f4f;
        font-size: 1rem;
        font-weight: 700;
        background-color: #e0e0e0;
    }

    .pacItemConteiner{
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: grid;
        align-items: center;

        .pacItemContent {
            display: flex;
            flex-direction: row;
            justify-content: right;
            margin-right: 15%;

            label {
                color: #5c5b5be8;
                margin-top: 0.5rem;
                margin-right: 1rem;
                font-weight: 600;
                font-size: 0.9rem;
            }

            input {
                padding: 0.4rem;
                background-color: transparent;
                border: 1px rgb(231, 231, 231) solid;
                border-radius: 5px;
            }
        }
    }
}


.containerSubHeader {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttonAdd {
    padding: 10px;
    color: var(--white);
    font-weight: bold;
    background-color: rgb(52, 124, 231);
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: .3s;
}

.buttonAdd:hover{
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
}

.link {
    color: rgb(52, 124, 231);
    font-weight: 800;
}

.containerPac {
    height: auto;
    margin-top: 0.5rem;
    padding: 1rem;
}

.listOrders {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
}

.listHeader {
    padding: 1vh;
    display: flex;
    flex-direction: row;
    background-color: rgb(236, 236, 236);
    font-weight: bold;
    justify-content: space-around;
    border-radius: 1rem 1rem 0 0;

}

.orderItem {
    display: grid;
    grid-template-columns: 2fr 1.1fr;
    padding: 0.7vh 0 0.7vh 0;
    cursor: pointer;
    border-bottom: solid 0.7px rgb(175, 175, 175);

    td {
        margin-left: 1.3rem;
    }

}

.orderItem:hover {
    background-color: rgb(241, 241, 241);
}

.withOutChartDescription {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.insertItem {

    h4 {
        width: 105%;
        margin-left: -2%;
        padding-left: 1rem;
        color: #504f4f;
        font-size: 1rem;
        font-weight: 700;
        background-color: #e0e0e0;
    }
    
    .insertItemConteiner{
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: 2fr;
    }
    .insertItemContent {
        display: grid;
        margin-bottom: 0.5rem;

        label {
            color: #5c5b5be8;
            margin-top: 0.5rem;
            margin-right: 1rem;
            font-weight: 600;
            font-size: 0.9rem;
        }

        input {
            padding: 0.4rem;
            background-color: transparent;
            border: 1px rgb(231, 231, 231) solid;
            border-radius: 5px;
        }
    }
}