.container{
    max-width: 720px;
    margin: 4rem auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
}

.containerHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    .buttonAdd{
        padding: 10px;
        color: var(--white);
        font-weight: bold;
        background-color: rgb(52, 124, 231);
        border: 0;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.listOrders{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
}

.listHeader{
    display: flex;
    flex-direction: row;
    background-color: rgb(236, 236, 236);
    font-weight: bold;
    justify-content: space-around;
    border-radius: 1rem 1rem 0 0;

    td{
        margin: 1rem ;
    }
}

.orderItem{
    display: flex;
    flex-direction: row;
    border-radius: 0 0 1rem 1rem;
    margin: 0 10px 0 10px;

    .buttonItem{
        width: 100%;
        margin-top: 0.5rem;
        border: 0;
        background: transparent;
        font-size: 1.2rem;
        height: 30px;

        .buttonContent{
            display: flex;
            justify-content: space-between;

            th{
                width: 20%;
            }

            td{
                width: 33%;
                align-items: center;
            }
            
        }
        
        hr{
            margin-bottom: 0.5rem;
            width: 100%;
        }
    }
}

