
.container {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerConteiner{
    background-image: repeating-linear-gradient(135deg, rgba(255,255,255, 0.09) 0px, rgba(255,255,255, 0.09) 1px,transparent 1px, transparent 11px),repeating-linear-gradient(45deg, rgba(255,255,255, 0.09) 0px, rgba(255,255,255, 0.09) 1px,transparent 1px, transparent 11px),linear-gradient(90deg, crimson,rgb(219,39,39));
    width: 100%;
    height: 35vh;
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;

    .header{
       width: 87%;
       padding-top: 2rem;
    }
}

.content {
    max-width: 1250px;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    z-index: 10;
}
.contentTop {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.card {
    width: auto;
    height: auto;
    padding: 1rem;
    border-radius: .5rem;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.26);
}

.cardContent{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    align-items: center;
    
    .cardText{
         
        h4{
            color: rgba(0, 0, 0, 0.575);
        }
    }
}

.userButtons{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.buttonSingOut {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: transparent;
    padding: 0.3rem;
    border: 0;
    border-radius: .3rem;
    transition: transform 1s;

    &:hover {
        background-color: rgb(253, 60, 60);
        color: white;
    }

}

.patientConteiner{
    display: flex;
    width: 90%;
}

.circle{
    margin-top: .5rem;
    margin-bottom: .5rem;
    display: grid;
    place-items: center;
    box-shadow: 0px 0 5px rgb(189, 189, 189);
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    p{
        margin-top: 0;
        color: #000000;
    }
}
