.container{
    max-width: 720px;
    margin: 4rem auto;
    padding: 0 2rem;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.containerHeader{
    display: flex;
    justify-content: space-between;

    button{
        background: transparent;
        border: 0;
    }

}

.container h1{
    color: #303030;
}

.form{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    

    select{
        width: 100%;
        height: 40px;
        border-radius: 0.3rem;
        margin-bottom: 1rem;
        color: gray;
        background-color: var(--white);
        border: 1px solid gray;
        padding: 0 0.5rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .formComponent{
        position: relative;
    }

    .formComponent input{
        width: 100%;
        border-radius: 0.3rem;
        margin-bottom: 1rem;
        color: gray;
        outline: none;
        background-color: var(--white);
        border: 1px solid gray;
        height: 40px;
        padding: 0 0.5rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .formComponent label{
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 1rem;
        padding: 0px 5px;
        color: gray;
        transition: 0.3s;
        pointer-events: none;
    }


    .input:focus + .placeholder,
    .input:not(:placeholder-shown)
    + .placeholder{
        top: -10px;
        color: #303030;
        background-color: var(--white);
    }
}

.placeholderSelect{
    top: -10px;
}

.buttonAdd{
    border-radius: 0.3rem;
    height: 40px;
    border: 0;
    background-color: var(--blue);
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.accountableContainer{
    animation-name: slidein;
    animation-duration: 1s;

    h2{
        color: #303030;
        margin-bottom: 1rem;
    }
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}