.button{
    max-width: 100vw;
    background-color: var(--red);
    border: 0;
    padding: 0.4rem;
    color: var(--white);
    border-radius: 0.5rem;
    transition: filter 0.2s;

    &[disabled]{
        cursor: not-allowed;
        svg{
            animation: animate 2s infinite;
        }
    }

    &:hover{
        filter: brightness(1.10);
    }
}

.buttonText{
    color: var(--white);
}

@keyframes animate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}