.headerContainer{
    height: 10vh;
}

.headerContent{
    max-width: 100%;
    height: 10vh;
    margin: 0 auto;
    padding: 0;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5vw;
    background-color: crimson;

    .backBtn{
        display: flex;
        padding: .6rem;
        margin-left: 1rem;
        border: 0;
        border-radius: 100%;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.59);
    }

    .backBtn:active{
        background-color: #3b82f6;;
    }
}   


.menuNav{
    align-self: safe;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list{
    display: flex;
    flex-direction: column;
    left: 1%;
    padding: 45px 0 0;
    flex-wrap: nowrap;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}


.list .listItens{
    padding: 0;
    list-style: none;
    
    li{
        margin: 2rem 3rem;
        display: flex;
        gap: 1rem;
        cursor: pointer;
    }
    li:hover{
        font-weight: 400;
    }
}

.menuOpen{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: crimson;
    box-shadow: 10px 9px 10px 0px rgba(0, 0, 0, 0.59);
    left: 0vw;
    transition: all 0.3s ease-in-out;

}

.menuClose{
    width: 0vw;
    height: 100%;
    overflow: hidden;
    background: crimson;
    box-shadow: 10px 4vw 10px 0px rgba(0, 0, 0, 0.59);
    transition: all 0.3s ease-in-out;

}