.DialogOverlay {
    background-color: #0000003a;
    position: fixed;
    inset: 0;
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
    z-index: 10;
  }
  
  .DialogContent {
    background-color: white;
    border-radius: 6px;
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 450px;
    max-height: 85vh;
    padding: 25px;
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
    z-index: 10;
  }
  .DialogContent:focus {
    outline: none;
  }
  
  .DialogTitle {
    margin: 0;
    font-weight: 500;
    color: rgb(94, 94, 94);
    font-size: 17px;
  }
  
  .DialogDescription {
    margin: 10px 0 20px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    line-height: 1.5;
  }
  
  .Button,
    .ButtonAdd {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 0;
    padding: 0 15px;
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
    height: 35px;
  }

  .Button {
    background-color: transparent;
  }
  .Button:hover {
    background-color: #e4e4e4;
  }
  .Button:focus {
    box-shadow: 0 0 0 1px #000000;
  }

  .ButtonAdd {
    background-color: #0ab6fa;
    color: white;
  }
  .ButtonAdd:hover {
    background-color: #5fccf7;
  }
  .ButtonAdd:focus {
    box-shadow: 0 0 0 2px #000000;
  }
  
  .IconButton {
    font-family: inherit;
    border-radius: 100%;
    border: 0;
    height: 25px;
    width: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: red;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .IconButton:hover {
    background-color: rgb(226, 226, 226);
  }
  .IconButton:focus {
    box-shadow: 0 0 0 2px black;
  }
  
  .Fieldset {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 15px;
    border: 0;
  }
  
  .Label {
    font-size: 15px;
    color: rgb(66, 66, 66);
    width: 90px;
    text-align: right;
  }
  
  .Input {
    width: 100%;
    flex: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 15px;
    line-height: 1;
    color: black;
    height: 35px;
  }
  .Input:focus {
    box-shadow: 0 0 0 1px black;
  }
  
  @keyframes overlayShow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes contentShow {
    from {
      opacity: 0;
      transform: translate(-50%, -48%) scale(0.96);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }