.container{
    max-width: 720px;
    margin: 4rem auto;
    padding: 0 2rem;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.containerHeader{
    display: flex;
    justify-content: space-between;

    button{
        background: transparent;
        border: 0;
        border-radius: 100%;
        transition: .3s;
        padding: .2rem;
    }

    button:hover{
        background-color: #3b82f6;
        box-shadow: 0 0 0 5px #3b83f65f;
        color: #fff;
    }

}

.container h1{
    color: #303030;
}

.form{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    

    select{
        width: 100%;
        height: 40px;
        border-radius: 0.3rem;
        margin-bottom: 1rem;
        color: gray;
        background-color: var(--white);
        border: 1px solid gray;
        padding: 0 0.5rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .formComponent{
        position: relative;
    }

    .formComponent input{
        width: 100%;
        border-radius: 0.3rem;
        margin-bottom: 1rem;
        color: gray;
        outline: none;
        background-color: var(--white);
        border: 1px solid gray;
        height: 40px;
        padding: 0 0.5rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .formComponent label{
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 1rem;
        padding: 0px 5px;
        color: gray;
        transition: 0.3s;
        pointer-events: none;
    }


    .input:focus + .placeholder,
    .input:not(:placeholder-shown)
    + .placeholder{
        top: -10px;
        color: #303030;
        background-color: var(--white);
    }
}

.dualComponent{
    display: grid;
    grid-template-columns: 2fr 1fr;
    
    .checkbox{
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;

        input{
            width: 1.4rem;
            height: 1.4rem;
            margin-left: 1rem;
        }
    }

}

.placeholderSelect{
    top: -10px;
}

.buttonAdd{
    border-radius: 0.3rem;
    height: 40px;
    border: 0;
    background-color: var(--blue);
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: .3s;
}

.buttonAdd:hover{
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
}

.adressConteinerOpen,
    .adressConteinerClose{
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
        background-color: #ffffff;
        box-shadow: 0px 0px 5px black;
        overflow: hidden;
        transition: all 1s ease-in-out;

        .menuAdress{
            width: 100%;
            padding: 0.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            
        }
}

.adressConteinerClose{
    height: 2.5rem;

    .adressContent{
        margin-top: 4rem;
        padding: 1.3rem;
        
    }
}

.adressConteinerOpen{


    .adressContent{
        padding: 1.3rem;
        
    }
}


.accountableContainer{
    animation-name: slidein;
    animation-duration: 1s;

    h2{
        color: #303030;
        margin-bottom: 1rem;
    }
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}




.containerHamburguer {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 1rem;
    user-select: none;
    margin-right: 1rem;
  }
  
  .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
  }
  
  .checkmark span {
    width: 2rem;
    height: 2px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  
  .checkmark span:nth-child(1) {
    top: 0%;
  }
  
  .checkmark span:nth-child(2) {
    top: 40%;
  }
  
  .checkmark span:nth-child(3) {
    top: 90%;
  }