.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(15deg ,#3b0303 5%, crimson 80%);
}

.containerCenter{ 
    background-color: var(--gray);
    border-radius: 1rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
}

.img{
    padding-left: 5vw;
}

.login{
    margin-top: 2rem;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 1.5rem;

    h1{
        padding-bottom: 1rem;
    }

    form{
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    form button{
        height: 40px;
        font-size: 1.2rem;
    }
}

.text{
    margin-top: 1rem;
    color: var(--black);
    cursor: pointer;
}

@media (max-width: 620px){
    .login{
        width: 90%;
    }
}