.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(330deg, rgba(225, 225, 225, 0.05) 0%, rgba(225, 225, 225, 0.05) 33.333%,rgba(114, 114, 114, 0.05) 33.333%, rgba(114, 114, 114, 0.05) 66.666%,rgba(52, 52, 52, 0.05) 66.666%, rgba(52, 52, 52, 0.05) 99.999%),linear-gradient(66deg, rgba(181, 181, 181, 0.05) 0%, rgba(181, 181, 181, 0.05) 33.333%,rgba(27, 27, 27, 0.05) 33.333%, rgba(27, 27, 27, 0.05) 66.666%,rgba(251, 251, 251, 0.05) 66.666%, rgba(251, 251, 251, 0.05) 99.999%),linear-gradient(225deg, rgba(98, 98, 98, 0.05) 0%, rgba(98, 98, 98, 0.05) 33.333%,rgba(222, 222, 222, 0.05) 33.333%, rgba(222, 222, 222, 0.05) 66.666%,rgba(228, 228, 228, 0.05) 66.666%, rgba(228, 228, 228, 0.05) 99.999%),linear-gradient(90deg, rgb(42,10,10),rgb(240,41,41));
    perspective: 1000px;
}

.boxContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 600ms ease-in-out;
}


.containerFront, .containerBack{ 
    position: absolute;
    background-color: var(--gray);
    border-radius: 1rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    backface-visibility: hidden;
}

.containerBack{
    transform: rotateY(180deg);
}

.boxContentFlip{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 600ms ease-in-out;
    transform: rotateY(180deg);
}

.imgLogin{
    padding-left: 5vw;
}

.login, .signin{
    margin-top: 2rem;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 1.5rem;

    h1{
        padding-bottom: 1rem;
    }

    form{
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    label{
        margin-left: 0.5rem;
        color: #303030;
    }

    form button{
        height: 40px;
        font-size: 1.2rem;
    }
}

.login{
    button{
        margin-top: 2rem;
    }
}


.text{
    margin-top: 1rem;
    color: var(--black);
    cursor: pointer;
}

.containerImgFront{
    margin-bottom: 4rem;
}

.containerImgBack{
    margin-bottom: 2rem;
}

.containerImgBack, .containerImgFront{
    display: flex;
    justify-content: center;
    height: 40vh;

}

.imgSingin{
    width: 100%;
}

@media (max-width: 620px){
    .login{
        width: 90%;
    }
}